language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-c++98-compat -Wno-missing-prototypes -Wno-padded Dwarf.cpp Dragon.cpp DragonSlayer.cpp Paladin.cpp AttackItem.cpp Character.cpp HelpfulItem.cpp DefensiveItem.cpp Utility.cpp Item.cpp main.cpp && ./a.out"
